<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="">
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="">
                        WhatsApp
                    </a>
                </li>
                <li>
                    <a href="">
                        E-mail
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Copyright -
            <a href="" target="_blank">Projeto Zeus</a> - Todos os direitos reservados.
        </div>
    </div>
</footer>