<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Listagem de Produtos</h4>
                        <p class="card-category">Produtos com ofertas especiais!</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Categoria
                                    </th>
                                    <th>
                                        Marca
                                    </th>
                                    <th>
                                        Valor
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let produto of produtos">
                                        <td>
                                            {{produto.descricao}}
                                        </td>
                                        <td>
                                            {{produto.categoria}}
                                        </td>
                                        <td>
                                            {{produto.marca}}
                                        </td>
                                        <td class="text-primary">
                                            {{produto.valorDeVenda}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>