@media (max-width: 767.98px) {
    .border-sm-start-none {
        border-left: none !important;
    }
}

.container img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}